In [1]:
!wget http://curtis.ml.cmu.edu/datasets/hotpot/hotpot_train_v1.1.json

--2021-06-26 18:32:33--  http://curtis.ml.cmu.edu/datasets/hotpot/hotpot_train_v1.1.json
Resolving curtis.ml.cmu.edu (curtis.ml.cmu.edu)... 128.2.204.193
Connecting to curtis.ml.cmu.edu (curtis.ml.cmu.edu)|128.2.204.193|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 566426227 (540M) [application/json]
Saving to: ‘hotpot_train_v1.1.json’

hotpot_train_v1.1.j 100%[===================>] 540.19M  2.89MB/s    in 1m 46s

2021-06-26 18:34:19 (5.10 MB/s) - ‘hotpot_train_v1.1.json’ saved [566426227/566426227]

In [2]:
!wget http://curtis.ml.cmu.edu/datasets/hotpot/hotpot_dev_distractor_v1.json

--2021-06-26 18:34:19--  http://curtis.ml.cmu.edu/datasets/hotpot/hotpot_dev_distractor_v1.json
Resolving curtis.ml.cmu.edu (curtis.ml.cmu.edu)... 128.2.204.193
Connecting to curtis.ml.cmu.edu (curtis.ml.cmu.edu)|128.2.204.193|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46320117 (44M) [application/json]
Saving to: ‘hotpot_dev_distractor_v1.json’

hotpot_dev_distract 100%[===================>]  44.17M  8.34MB/s    in 8.6s

2021-06-26 18:34:29 (5.15 MB/s) - ‘hotpot_dev_distractor_v1.json’ saved [46320117/46320117]

In [3]:
import pandas as pd

In [4]:
new_data = pd.DataFrame(columns=['id','question','label','title','context','answer','type','level'])

In [5]:
new_data.head()

Empty DataFrame
Columns: [id, question, label, title, context, answer, type, level]
Index: []

In [6]:
def convert(input):
  df = pd.read_json(input)

  print(type(df))
  row_list = []
  cnt = 0
  for index, row in df.iterrows():
    sup = []
    for i in row['supporting_facts']:
        sup.append(i[0])

    for i in row['context']:

      dic = {}
      dic['id']= row['_id']
      dic['question']= row['question']
      dic['title']= i[0]
    
      dic['answer']= row['answer']
      dic['type']=row['type']
      dic['level']=row['level']

      str = ''
      for j in i[1]:
        str = str+j

      dic['context']=str

      if i[0] in sup:
        dic['label']= True
      else:
        dic['label']=False

      row_list.append(dic)



  xd = pd.DataFrame(row_list)  
  
  return xd

In [7]:
data = convert('/content/hotpot_train_v1.1.json')
data.to_csv('hotpot_dev.csv')

<class 'pandas.core.frame.DataFrame'>

In [8]:
print(data.shape)

(899667, 8)

In [ ]:
data = convert('/content/hotpot_dev_distractor_v1.json')
data.to_csv('hotpot_train.csv')

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(data.shape)

(9927, 8)